

.sign-in-container {
    display: flex;
    flex-direction: column;
   gap: 15px;
    align-items: center !important;
    justify-content: center;
  min-height: 80vh;
    
  padding: 20px;
    font-family: Arial, sans-serif;
  }
   
  
  

 .title svg {
  width: 200px; 
  height: auto; 
  fill: #7B1984; 
}  
   
  .sign-in-button {
    background-color: #292929;
    color: white;
    border: none;
    padding: 10px 20px;
    height: 60px;
    font-size: 1rem;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sign-in-button:hover {
    background-color: #357abd;
  }
  
  .sign-in-button img {
    width: 20px;
    margin-right: 10px;
  }
  .task-icon {
    padding: 4px;
    color: #7B1984;
  }
 
  @media screen and (max-width: 1024px) {
   
  
    .sign-in-container {
      align-items: center;
      text-align: center;
    }
  
   
  }
  

  @media screen and (max-width: 1024px) {
   
  
    .sign-in-container {
      align-items: center;
      text-align: center;
      order: 1;
    }
  
    
   

  }
  
  @media screen and (max-width: 768px) {
    .sign-in-container h1 {
      font-size: 1.8rem;
    }
  
    .sign-in-button {
      font-size: 0.9rem;
      padding: 10px 16px;
    }
  
  }
  
  @media screen and (max-width: 480px) {
    .sign-in-container {
      height: 500px;
    }
    .sign-in-container h1 {
      font-size: 1.5rem;
    }
  
    .sign-in-button {
      font-size: 0.8rem;
      padding: 8px 14px;
    }
  
  
   
  }