
.user-info{
  display: flex;
  flex-direction: column;

}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
 
  }
  
 
  nav h2 {
    font-family: 'Mulish', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #2F2F2F;
    margin: 0px;
    padding-left: 5px;
  }
  

  nav div {
    display: flex;
    align-items: center;
  }

  nav div div {
    font-size: 16px;
    color: #555555;
    margin-right: 15px;
  }
  
  
  nav button {
    display: inline-flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #FFF9F9;
    color:black;
    border: 1px solid #ad98af;
    padding: 8px 16px;
    border-radius: 12px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  nav button:hover {
    background-color: #e09d9d;
  }
  
  nav button svg {
    margin-right: 8px; /* Add space between icon and text */
  }
  
  

  div {
    font-size: 16px;
    color: #777777;
  }

  .user-image{
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: 10px;
  }
  .user-name {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: bold;
  }